body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.mt-20 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 40px;
}

.form-header {
    text-align: center;
    color: #ffffff;
    background-color: dodgerblue;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h6 {
        font-size: 22px;
    }
}

.p20 {
    padding: 10px 30px;
}

.helper-text {
    text-align: center;
}

.tac {
    text-align: center;
    margin-top: 30px;
}

.tac3 {
    text-align: center;
    margin-top: 15px;

    .fab {
        text-transform: lowercase;
        font-size: 18px;
        color: #1e90ff;
    }

}

.tac2 {
    text-align: center;
    margin-top: 30px;
    padding: 0 0 10px;
}

.submitBtn {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent !important;
    border: 2px solid #2196F3 !important;
    color: #2196F3 !important;
    border-radius: 50px !important;
}

.z-depth-2 {
    border-radius: 5px;
    
}
.bdr{
    border-radius: 50%;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=checkbox]:focus + label {
    color: #2196F3 !important;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus, .input-field input[type=number]:focus, .input-field input[type=checkbox]:focus {
    border-bottom: 1px solid #2196F3 !important;
    box-shadow: 0 1px 0 0 #2196F3;
  }
  [type="checkbox"]:checked+span:not(.lever):before{
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #1e90ff;
    border-bottom: 2px solid #1e90ff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  .socialBtn{
      text-align: center;
      a{
        color: #007ffb;
      }
      .fab{
          font-size: 30px;
          padding: 0 5px 15px;
          text-shadow: 0 1px 3px rgba(0,0,0,0.5);
      }
  }